/* ==========================================| MENU |========================================== */

@media only screen and (max-width: 768px) {
    header .navbar-nav{
        justify-content: center;
        flex-direction: row;
    }

    header .navbar-light .navbar-nav .nav-link{
        padding: 0.5rem;
    }
}

/* ==========================================| BANNER |========================================== */

@media only screen and (max-width: 992px) {
    #banner{
        height: 50vh;
    }

    #banner .text-banner{
        padding: 10vh 10vw;
    }

    #banner .titulo-banner{
        font-size: 3rem;
    }

    #banner .sub-banner{
        padding-right: 10%;
    }
}

@media only screen and (max-width: 768px) {
    #banner{
        height: 45vh;
    }

    #banner .text-banner{
        padding: 5vh 10vw;
    }

    #banner .titulo-banner{
        font-size: 2.5rem;
    }

    #banner .sub-banner{
        padding-right: 5%;
    }
}

@media only screen and (max-width: 576px) {
    #banner .titulo-banner{
        font-size: 2rem;
    }

    #banner .sub-banner{
        padding-right: 0;
    }
}

@media only screen and (max-width: 400px) {
    #banner .text-banner{
        padding: 5vh 5vw;
    }

    #banner .titulo-banner{
        font-size: 1.5rem;
    }
    
    #banner .btn-banner{
        margin-right: 0.5rem;
        font-size: 1rem;
    }
}

/* ==========================================| SOBRE |========================================== */

@media only screen and (max-width: 992px) {
    #sobre .card{
        margin: 0.5rem;
    }

    #sobre .card-body{
        padding: 0;
    }

    #sobre ul{
        margin-bottom: 1rem;
        padding-inline-start: 0;
    }

    #sobre .player{
        width: 100%;
        height: 60vh;
    }
}

@media only screen and (max-width: 768px) {
    #sobre .player{
        height: 45vh;
    }
}

@media only screen and (max-width: 576px) {
    #sobre .card-deck{
        flex-direction: column;
        padding: 0 5rem;
    }

    #sobre .card{
        padding: 3rem;
    }

    #sobre ul{
        margin-bottom: 2rem;
    }

    #sobre .player{
        height: 35vh;
    }
}

@media only screen and (max-width: 400px) {
    #sobre .card-deck{
        padding: 0 1rem;
    }

    #sobre .card{
        padding: 2rem;
    }

    #sobre .player{
        height: 25vh;
    }
}

/* ==========================================| TEMA |========================================== */

@media only screen and (max-width: 768px) {
    #tema .temaimg{
        display: none;
    }

    #tema .tematexto{
        width: 100%;
        padding-left: 0;
    }
}

@media only screen and (max-width: 576px) {
    #tema ul li span{
        font-size: 0.9rem;
    }

    #tema .imgtabbtn{
        width: 60%;
    }
}

@media only screen and (max-width: 400px) {
    #tema ul li span{
        font-size: 0.6rem;
    }

    #tema .imgtabbtn{
        width: 70%;
    }
}

/* ==========================================| MÓDULO TECH |========================================== */

@media only screen and (max-width: 768px) {
    #tech .card-body{
        padding: 0.5rem;
        text-align: left;
    }

    #tech ul{
        padding-left: 1rem;
    }
}

@media only screen and (max-width: 576px) {
    #tech .card-deck{
        flex-flow: column wrap;
    }

    #tech .card{
        margin: 1rem 5rem;
    }

    #tech ul{
        padding-left: 2rem;
    }

    #tech ul li{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 400px) {
    #tech .card{
        margin: 1rem 2em;
    }
}

/* ==========================================| MÓDULO BUSINESS |========================================== */

@media only screen and (max-width: 768px) {
    #business .card-body{
        padding: 0.5rem;
        text-align: left;
    }

    #business ul{
        padding-left: 1rem;
    }
}

@media only screen and (max-width: 576px) {
    #business .card-deck{
        flex-flow: column wrap;
    }

    #business .card{
        margin: 1rem 5rem;
    }

    #business ul{
        padding-left: 2rem;
    }

    #business ul li{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 400px) {
    #business .card{
        margin: 1rem 2em;
    }
}

/* ==========================================| MODAL |========================================== */

@media only screen and (max-width: 400px) {
    .modal-title{
        font-size: 1rem;
    }
}

/* ==========================================| FOOTER |========================================== */

@media only screen and (max-width: 768px) {
    footer .logo-footer{
        width: 100%;
        height: auto;
    }

    footer .redes{
        justify-content: center;
    }

    footer .titulo-footer{
        font-size: 0.7rem;
    }

    footer .col .nav-link{
        font-size: 0.5rem;
    }
}

@media only screen and (max-width: 576px) {
    footer .logo-footer{
        width: 35%;
        height: 3rem;
    }

    footer .nav-link{
        padding: 1rem 0.5rem;
    }

    footer .redes{
        padding-left: 0.5rem;
    }
}