/* ==========================================| FONTES |========================================== */

@font-face {
    font-family: lato-bold;
    src: local('./fonts/Lato-Bold.ttf'), url('./fonts/Lato-Bold.ttf');
    src: url('./fonts/Lato-Bold.ttf') format('opentype');
}

@font-face {
    font-family: lato-light;
    src: local('./fonts/Lato-Light.ttf'), url('./fonts/Lato-Light.ttf');
    src: url('./fonts/Lato-Light.ttf') format('opentype');
}

@font-face {
    font-family: lato-regular;
    src: local('./fonts/Lato-Regular.ttf'), url('./fonts/Lato-Regular.ttf');
    src: url('./fonts/Lato-Regular.ttf') format('opentype');
}

@font-face {
    font-family: roboto-bold;
    src: local('./fonts/Roboto-Bold.ttf'), url('./fonts/Roboto-Bold.ttf');
    src: url('./fonts/Roboto-Bold.ttf') format('opentype');
}

@font-face {
    font-family: roboto-light;
    src: local('./fonts/Roboto-Light.ttf'), url('./fonts/Roboto-Light.ttf');
    src: url('./fonts/Roboto-Light.ttf') format('opentype');
}
@font-face {
    font-family: roboto-medium;
    src: local('./fonts/Roboto-Medium.ttf'), url('./fonts/Roboto-Medium.ttf');
    src: url('./fonts/Roboto-Medium.ttf') format('opentype');
}

@font-face {
    font-family: roboto-regular;
    src: local('./fonts/Roboto-Regular.ttf'), url('./fonts/Roboto-Regular.ttf');
    src: url('./fonts/Roboto-Regular.ttf') format('opentype');
}

@font-face {
    font-family: barlow-regular;
    src: local('./fonts/Barlow-Regular.ttf'), url('./fonts/Barlow-Regular.ttf');
    src: url('./fonts/Barlow-Regular.ttf') format('opentype');
}

/* ==========================================| GERAL |========================================== */

*{
    font-family: roboto-medium, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}

main .logofuse{
    /* color: #323e48; */
    font-family: roboto-bold, sans-serif;
    font-size: 100%;
}

main .logoiot{
    /* color: #323e48; */
    font-family: roboto-regular, sans-serif;
    font-size: 80%;
}

/* ==========================================| MENU |========================================== */

header{
    box-shadow: 0 0.5rem 0.5rem 0 rgba(0,0,0,0.4);
}

header .navbar-collapse{
    justify-content: flex-end;
}

header .navbar-nav{
    border-top: 2px solid #B2B2B2;
    padding: 0.5rem 1rem 0 1rem;
}

header .navbar-light .navbar-nav .nav-link{
    color: #fff;
}

header .header-logo{
    width: auto;
    height: 5rem;
}

header .btn-academy{
    background-color: #EC5252;
}

header .btn{
    border-radius: 0;
    margin-right: 0.5rem;
}
header .carrinho{
    width: 1.5rem;
    height: 1.5rem;
}

header .carrinho:hover{
    border: 1px solid #EC5252;
}

header .nav-bread{
    background-color: #e9ecef;
}

header .breadcrumb a{
    color: inherit;
}

header .breadcrumb{
    margin-bottom: 0;
}

/* ==========================================| BANNER |========================================== */

#banner{
    background: url('../img/banneracademy.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

#banner .titulo-banner{
    font-family: roboto-bold, sans-serif;
    font-size: 4rem;
    margin-bottom: 2rem;
    vertical-align: bottom;
}

#banner .sub-banner{
    font-family: lato-bold, sans-serif;
    font-size: 1.2rem;
    padding-right: 20%;
    margin-bottom: 2rem;
    text-align: justify;
}

#banner .text-banner{
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 20vh 10vw;
    color: #fff;
}

#banner .btn-banner{
    background-color: #9A6E17;
    color: #fff;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}